parameters:
	css: "assets/css"
	bower: "assets/bower-components"
	js: "assets/js"
	minified: "assets/minified"

## Front module
front:
	css:
		"%minified%/front.min.css":
			## Bootstrap
			- "%bower%/bootstrap/dist/css/bootstrap.min.css"
			- "%bower%/bootstrap/dist/css/bootstrap-theme.min.css"
			## Main
			- "%css%/flashes.css"
			- "%css%/spinner.css"
			- "%css%/main.css"
	js:
		"%minified%/front.min.js":
			## jQuery
			- "%bower%/jquery/dist/jquery.min.js"
			## Bootstrap
			- "%bower%/bootstrap/dist/js/bootstrap.min.js"
			## Forms
			- "%bower%/nette-forms/src/assets/netteForms.js"
			## Ajax
			- "%bower%/thunbolt/dist/thunbolt.js"
			- "%bower%/nette.ajax.js/nette.ajax.js"
			- "%js%/ajax/spinner.js"
			## Main
			- "%js%/main.js"
