php:
	date.timezone: Europe/Prague

application:
	scanDirs: no

metadata:
	title: 'Thunbolt'
	description: 'Thunbolt'

session:
	expiration: 15 days

latte:
	macros:
		- App\Latte\LatteMacros

assets:
	styles:
		- @Thunbolt\Assets\Loaders\WebpackAssetsLoader::getStyle()
	javascript:
		- @Thunbolt\Assets\Loaders\WebpackAssetsLoader::getJavascript()

doctrineExtensions:
	functions:
		rand:
			enabled: yes

orm:
	configuration:
		defaultRepositoryClassName: App\Doctrine\Repository

orm.annotations:
	paths: []
	cache: Doctrine\Common\Cache\FilesystemCache(%tempDir%/cache/Doctrine.Annotations)
	ignore:
		- isAllowed

services:
	localRouter: App\Routers\LocalRouter
	router: @localRouter::createRouter

di:
	debugger: no
