php:
	date.timezone: Europe/Prague

includes:
    - extensions.neon
    - services.neon

application:
	scanDirs: no

metadata:
	title: 'Thunbolt'
	description: 'Thunbolt'

session:
	expiration: 15 days

latte:
	macros:
		- App\Latte\LatteMacros

assets:
	css:
		- $src/src.css
	js:
		- $src/src.js
	manifests:
		src:
			manifest: %wwwDir%/dist/manifest.json
			styles:
				src.css: dist/$name
			javascript:
				src.js: dist/$name

doctrineExtensions:
	functions:
		rand:
			enabled: yes

orm:
	configuration:
		defaultRepositoryClassName: App\Doctrine\Repository

orm.annotations:
	paths:
		- %appDir%/model/Entities
	cache: Doctrine\Common\Cache\FilesystemCache(%tempDir%/cache/Doctrine.Annotations)
	ignore:
		- isAllowed

services:
	localRouter: App\Routers\LocalRouter
	router: @localRouter::createRouter

di:
	debugger: no
