php:
	date.timezone: Europe/Prague

application:
	scanDirs: no

annotations:
	ignore:
		- isAllowed

session:
	expiration: 15 days
	cookiePath: '?->getUrl()->getBasePath()'(@Nette\Http\Request) ## Cookie path same as $basePath

assets:
	resources:
		- '%appDir%/config/assets.yaml'

doctrine:
	defaultRepositoryClassName: Thunbolt\Model\RepositoryContainer
	types:
		bit: Doctrine\DBAL\Types\BooleanType
	filters:
		soft-deleteable: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
	dql:
		string:
			MATCH: DoctrineExtensions\Query\Mysql\MatchAgainst
			DATE: Thunbolt\Doctrine\Addons\DateFunction
		numeric:
			RAND: Thunbolt\Doctrine\Addons\Rand

#translation:
#	default: 'cs'
#	whitelist: [cs]
#	resolvers:
#		session: yes
#	dirs: [] # reset
#	loaders: [neon]

routers:
	main: App\Routers\LocalRouter

form:
	factories:
		front: App\Factories\Forms\FrontFactory

shortcuts:
	front.home: ':Front:Homepage:'

di:
	debugger: no
