extensions:
	app: App\DI\AppExtension
	assets: WebChemistry\Assets\DI\AssetsExtension
	routers: WebChemistry\Routing\DI\RouterExtension
	## Nettrine
	dbal: Nettrine\DBAL\DI\DbalExtension
	orm: Nettrine\ORM\DI\OrmExtension
	orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
	orm.console: Nettrine\ORM\DI\OrmConsoleExtension
	## Contributte
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	## Thunbolt
	templates: Thunbolt\Templates\DI\TemplateExtension
	core: Thunbolt\CoreExtension
	## Thunbolt
	user: Thunbolt\User\DI\UserExtension
	localization: Thunbolt\Localization\DI\LocalizationExtension
	metadata: ProLib\Metadata\DI\MetadataExtension
	- Thunbolt\Application\DI\ApplicationExtension
	- Thunbolt\DI\TemplateFormExtension
