decorator:
	App\Forms\BaseForm:
		setup:
			- setFactory
			- setEntityManager
	App\Forms\BaseFormControl:
		setup:
			- injectComponents

services:
	- App\Doctrine\UserDAO
	- App\Forms\SignInForm
	- App\Factories\Forms\FrontFactory
