decorator:
	App\Forms\BaseForm:
		setup:
			- setFactory
			- setEntityManager

services:
	- App\Model\UserDAO
	- App\Forms\SignInForm
	frontFormFactory:
		class: App\Factories\Forms\IFormFactory
		factory: App\Factories\Forms\FrontFactory
