settings:
	websiteName: 'Website'
	websiteTitle: 'Website: %title'
	websiteDesc: 'Page description'
	websiteKeys:
		- 'keys'
		- 'tags'
	websiteEmail: 'email@example.com'
	websiteFavicon: ''
	websiteOldBrowsers: yes
	google:
		name: ''
		id: ''
		url: ''
	twitter:
		url: ''
	facebook:
		id: ''
		url: ''
	instagram: ''
