filters:
	yes: 'ano'
	no: 'ne'
wizard:
	back: 'Zpět'
	next: 'Další'
	finish: 'Dokončit'
days:
	mon: 'pondělí'
	tue: 'úterý'
	wed: 'středa'
	thu: 'čtvrtek'
	fri: 'pátek'
	sat: 'sobota'
	sun: 'nedělě'
months:
	jan: 'leden'
	feb: 'únor'
	mar: 'březen'
	apr: 'duben'
	may: 'květen'
	june: 'červen'
	july: 'červenec'
	aug: 'srpen'
	sep: 'září'
	oct: 'říjen'
	nov: 'listopad'
	dec: 'prosince'
strings:
	decPoint: ','
	sepThousands: ' '
date:
	datetime: 'd.m.Y H:i'
	date: 'd.m.Y'
	time: 'H:i'
forms:
	protection: 'Platnost formuláře vypršela, prosím zkuste to znovu.'
	equal: 'Prosím vložte %s.'
	notEqual: 'Tato hodnota není totožná s %s.'
	filled: 'Tato položka je povinná.'
	blank: 'Tato položka by měla být prázdná.'
	minLength: 'Minimální délka tohoto pole je %d znaků.'
	maxLength: 'Maximální délka tohoto pole je %d znaků.'
	length: 'Prosím vložte hodnotu mezi %d a %d.'
	email: 'Vložte prosím platnou e-mailovou adresu.'
	url: 'Vložte prosím platnou adresu.'
	integer: 'Vložte prosím celé číslo.'
	float: 'Vložte prosím číslo.'
	min: 'Vložte prosím hodnotu stejnou nebo větší než %d.'
	max: 'Vložte prosím hodnotu stejnou nebo menší než %d.'
	range: 'Vložte hodnotu v rozmezí %d a %d.'
	maxFileSize: 'Maximální povolená velikost souborů je %d bajtů.'
	maxPostSize: 'Maximální povolená velikost formuláře je %d bajtů.'
	image: 'Nahraný soubor musí být ve formátu jpg, png, gif.'
	mimeType: 'Tento soubor není v očekávaném formátu.'
	upload:
		valid: 'Nastala chyba během nahrávání souboru.'
	select:
		valid: 'Prosím vyberte správnou hodnotu.'
	webchemistry:
		date: 'Datum není v očekáváném formátu (ukázka spravného data: %s).'
		tags: 'Pro rozdělení použijte čárku.'
	deleteImage: 'Odstranit tento obrázek?'
	send: 'Odeslat'
user:
	email: 'Uživatelský email'
	password: 'Heslo'
	remember: 'Zapamatovat'
	signIn: 'Přihlásit'
	notExists: 'Uživatel neexistuje.'
	wrongPassword: 'Heslo je špatně zadáno.'
requirements:
	loggedOut: 'Tato akce je povolena pouze odhlašeným uživatelům.'
	loggedIn: 'Tato akce je povolena pouze přihlášeným uživatelům.'
	isAllowed: 'Na tuto akci nemáte dostatečné opravnění.'
timeAgo:
	now: 'nyní'
	minutes: 'před minutou|před %count% minutami|před %count% minutami'
	hours: 'před hodinou|před %count% hodinami|před %count% hodinami'
	days: 'před dnem|před %count% dny|před %count% dny'
	months: 'před měsícem|před %count% měsíci|před %count% měsíci'
	years: 'před rokem|před %count% lety|před %count% lety'
