no_item_found_reset: Žádné položky nenalezeny
no_item_found: Žádné položky nenalezeny
here: tady
items: Položky
all: vše
from: z
reset_filter: Obnovit filtr
group_action: Akce skupiny
show_all_columns: Zobrazit všechny sloupce
hide_column: Schovat sloupec
action: Akce
previous: Předchozí
next: Další
choose: Zvol
execute: Vyhodnotit