{define favicon}
	{ifset $settings->websiteFavicon}
		<link rel="icon" type="image/png" href="{$basePath}/images/{$settings->websiteFavicon}">
	{/ifset}
{/define}

{define spinner}
	<div id="ajax-spinner">
		<div class="img-wrapper">
			<img src="{$basePath}/images/spinner.svg">
		</div>
	</div>
{/define}

