<!DOCTYPE html>
<html>
<head>

	{block meta}
		{control metadata}
		{control metadata:favicon}
		{control metadata:topBar}
	{/block}

	{block styles}
		{$_assets[styles]}
	{/block}

	{block head}{/block}
</head>
<body>
	{control metadata:api}

	{* Content *}
	{control flashes}

	<!-- Content -->
	<div class="container">
		{include content}
	</div>

	{* Scripts *}
	{block scripts}
		{$_assets[javascript]}
	{/block}
</body>
</html>
