<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="cs-CZ"> <!--<![endif]-->
<head>
	<title n:ifset="#setTitle">{include #setTitle|stripHtml|trim}</title>
	<title n:ifset="#title">{$config[webTitle]}{include #title|stripHtml|trim}</title>

	{block meta}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<meta name="description" content="{block description|stripHtml|trim}{/block}">
		<meta n:ifset="$nofollow" name="robots" content="nofollow">
	{/block}

	{block styles}
		{assets 'compiled/front.min.css'}
	{/block}

	{block scripts}
		{assets 'compiled/front.min.js', async, defer, ifMinified}
	{/block}

	{block head}{/block}
</head>
<body>
	<script>document.documentElement.className+=' js';var basePath={$basePath};</script>
	<Flashes n:component />
	<!-- Content -->
	<div class="container">
		{include content}
	</div>

	{assets 'compiled/front.min.js', async, defer, ifNotMinified}
</body>
</html>
