<div n:snippet="flashes">
	<div n:if="$flashes" class="flashes-container">
		<div n:foreach="$flashes as $flash" n:class="flash-message, $flash->type, $iterator->isFirst() ? first">
			<a href="#" class="flash-close-btn">
				<span aria-hidden="true">×</span>
			</a>

			<img src="{$basePath}/images/flashes/{$flash->type}.png">
			<span>{$flash->message}</span>
		</div>
	</div>
</div>
